body
{
  font-family: 'Rajdhani', sans-serif;
}

.page-header, .page-header h1
{
  background: #fdbf5c;
  margin-top: 0;
  text-align: center;
}

.page-header h1
{
  font-size: 5em;
  padding-top: 10px;
  color: #c97d03;
  text-shadow:1px 1px 7px #4b2f01;
}

.page-header
{
  border: dashed;
  border-color: #fdce81;
}
